<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-no-padding">
  <!-- <ion-title size="large">Finance Stats</ion-title> -->
  <ion-grid>
    <ion-row class="titulo-login">
      <ion-col>
        <ion-text>Finance Stats</ion-text>
      </ion-col>
    </ion-row>
    <div class="campos">
      <ion-row>
        <ion-col>
          <form>
            <ion-list >
              <ion-item id="loginField">
                <ion-label>Usuário</ion-label>
                <ion-input name="username" type="text" required > </ion-input>
              </ion-item>
              <ion-item id="senhaField">
                <ion-label>Senha</ion-label>
                <ion-input name="password" type="password" required ></ion-input>
              </ion-item>
            </ion-list>
          </form>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
