@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

ion-content {
  --background: #222831;
}

ion-grid {
  --ion-grid-width: 50%;

  --ion-grid-width-xs: 80%;
  --ion-grid-width-sm: 288px;
  --ion-grid-width-md: 384px;
  --ion-grid-width-lg: 480px;
  --ion-grid-width-xl: 570px;

  margin: 70% auto 0 auto;
}

ion-item {
  --background: none;
  --padding-start: 0;
}

ion-input {
  // --background: none;
  // --padding-top: 0 !important;
}

p{
  color: $laranja;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  overflow: visible;
}

.col-botao {
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn-entrar {
  --background: #D65A31;
  --background-activated: #D66A40;
}