<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <!-- <ion-title class="">Finance Stats</ion-title> -->
        <p class="">Finance<br>Stats</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item >
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-botao">
        <ion-button class="btn-entrar" expand="block" size="default" (click)="printa()">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
